<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.javaee.class01.dao.StudentDao">
    <resultMap id="StudentResultMap" type="org.example.javaee.class01.model.Student">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <insert id="insert" parameterType="org.example.javaee.class01.model.Student" useGeneratedKeys="true" keyProperty="id">
        insert into s_student(id,name,create_time) values(#{id},#{name},#{createTime})
    </insert>

    <select id="selectById" parameterType="Long" resultMap="StudentResultMap">
        select * from s_student where id = #{id}
    </select>
</mapper>